.categories {
  &__container {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &__title {
    letter-spacing: 0.3px;
  }

  &__list {
    grid-auto-rows: minmax(511px, max-content) minmax(405px, max-content);
  }

  &__item {
    &1, &2 {
      grid-column: calc($columns / 2) span;
    }

    &3, &4, &5 {
      grid-column: calc($columns / 3) span;
    }
  }

  &-card {
    &__top {
      padding: 30px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      row-gap: 10px;
      column-gap: 30px;
      margin-bottom: 14px;

      &4 {
        gap: 27px;
      }

      &5 {
        gap: 42.5px;
      }
    }

    &__item {
      font-size: 14px;
      line-height: 1;
      color: $grey;
    }

    &__title {
      font-weight: normal;
      font-size: 24px;
      line-height: 1.375;
      color: $black;
    }

    &-title {
      &__link {
        display: none;
      }
    }

    &__img {
      display: block;
      margin-bottom: 80px;
    }

    &__link {
      position: absolute;
      bottom: 30px;
      left: 30px;
      display: inline-flex;
      align-items: center;
      gap: 5px;
      font-weight: bold;
      font-size: 16px;
      line-height: 1.2;
      color: $primary;
      transition: color .2s ease-in-out;

      &:hover {
        .categories-link__text {
          &::before {
            right: -1px;
          }
        }

        .categories-link__icon {
          background: $primary;

          .categories-link__arrow {
            stroke: $white;
          };
        }
      }

      &:focus {
        .categories-link__text {
          &::before {
            right: -1px;
          }
        }

        .categories-link__icon {
          background: $primary-light;

          .categories-link__arrow {
            stroke: $white;
          };
        }
      }

      &:active {
        color: $primary-shade;

        .categories-link__text {
          &::before {
            right: -1px;
            background: $primary-shade;
          }
        }

        .categories-link__icon {
          border: 2px solid $primary-shade;
          background: $primary-shade;

          .categories-link__arrow {
            stroke: $white;
          };
        }
      }
    }
  }

  &-link {
    &__text {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        right: calc(100% + 1px);
        bottom: -1px;
        left: -1px;
        height: 2px;
        background: $primary;
        transition-property: right, background;
        transition-duration: .2s;
        transition-timing-function: ease-in-out;
      }
    }

    &__icon {
      width: 22px;
      height: 22px;
    }

    &__arrow {
      transform: rotate(180deg);
    }
  }
}

@media (max-width: 1200px) {
  $columns: 9;

  .categories {
    &__list {
      grid-auto-rows: minmax(511px, max-content);
    }

    &__item {
      &1 {
        grid-column: calc($columns / 9 * 6) span;
      }

      &2 {
        grid-column: calc($columns / 9 * 3) span;
        order: 1;
      }

      &3 {
        grid-column: calc($columns / 9 * 3) span;
      }

      &4 {
        grid-column: calc($columns / 9 * 3) span;
      }

      &5 {
        grid-column: calc($columns / 9 * 3) span;
        order: 2;
      }
    }

    &-card {
      &__img {
        &3 {
          width: 100%;
        }

        &2, &3, &4, &5 {
          transform: translateY(5.5px);
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  $columns: 6;

  .categories {
    &__list {
      grid-auto-rows: minmax(511px, max-content);
    }

    &__item {
      &1 {
        grid-column: $columns span;
      }

      &2 {
        grid-column: calc($columns / 2) span;
        order: 1;
      }

      &3 {
        grid-column: calc($columns / 2) span;
      }

      &4 {
        grid-column: calc($columns / 2) span;
        order: 2;
      }

      &5 {
        grid-column: calc($columns / 2) span;
        order: 2;
      }
    }

    &-card {
      &__img {
        &3 {
          width: 100%;
        }

        &2, &3, &4, &5 {
          transform: translateY(5.5px);
        }
      }
    }
  }
}

@media (max-width: 660px) {
  .categories {
    &-card {
      &__top {
        padding: 20px;
      }

      &__list {
        column-gap: 15px;
        row-gap: 4px;
      }
    }
  }
}

@media (max-width: 460px) {
  .categories {
    &__list {
      grid-template-rows: minmax(332px, max-content) repeat(2, minmax(206px, max-content));
      grid-auto-rows: minmax(206px, max-content);
      row-gap: 32px;
    }

    &-card {
      &__top {
        padding: 16px;

        &1 {
          padding: 30px 30px 13px;
        }
      }

      &__list {
        flex-direction: column;
        margin-bottom: 8px;

        .categories-card__item {
          font-size: 10px;
        }

        &1 {
          flex-direction: row;
          margin-bottom: 14px;

          .categories-card__item {
            font-size: 14px;
          }
        }
      }

      &__title {
        font-size: 16px;
        line-height: 0.8;

        &1 {
          font-size: 24px;
          line-height: 1.375;

          .categories-card-title__link {
            transform: translateY(-2px);
          }
        }
      }

      &-title {
        &__nowrap {
          white-space: nowrap;
        }

        &__link {
          display: inline-flex;
          width: 22px;
          height: 22px;
          transform: translateY(-1px);
        }
      }

      &__img {
        width: 100%;
        margin-bottom: 16px;
      }

      &__link {
        display: none;
      }
    }
  }
}

@media (max-width: 380px) {
  .categories {
    &__container {
      padding-bottom: 78px;
    }

    &__title {
      letter-spacing: 0.2px;
    }

    &-card {
      &__top {
        padding: 16px 16px 15px;

        &1 {
          padding: 30px 30px 13px;
        }
      }

      &__list {
        margin-bottom: 9px;

        &1 {
          column-gap: 20.3px;
          margin-bottom: 14px;
        }

        &4 {
          margin-bottom: 11px;
        }
      }

      &__title {
        &1 {
          .categories-card-title__link {
            transform: translate(-1px, -2px);
          }
        }

        &4 {
          .categories-card-title__link {
            transform: translate(2px, 0.5px);
          }
        }
      }

      &-title {
        &__link {
          transform: translate(1px, -1px);
        }
      }

      &__img {
        transform: none;

        &4 {
          transform: translateY(1.5px);
        }
      }
    }
  }
}
