.burger {
  @include burger(24px, 24px, $primary, 3px);

  display: none;
}

.header {
  position: relative;
  margin-bottom: 32px;

  &__container {
    &-info {
      position: relative;
      z-index: 6;
      flex-basis: 40.208%;
      max-width: 40.208%;

      display: flex;
      gap: 30px;
    }

    &-logo {
      flex-basis: 25.625%;
      max-width: 25.625%;
      transform: translateY(2px);
    }
  }

  &__top {
    background: $grey-light;

    .header__container-logo {
      display: none;
    }

    .header__user-options {
      display: none;
    }
  }

  &-top {
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 50px;
    }
  }

  &-bottom {
    &__container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  &__region {
    position: relative;
    z-index: 6;
    font-size: 16px;
    line-height: 1.2;
    color: $black;
    transform: translateY(2px);
  }

  &-region {
    &__btn {
      position: relative;
      z-index: 6;
      display: inline-flex;
      gap: 2px;
      color: $primary;

      &::after {
        content: '';
        position: absolute;
        top: -2px;
        right: calc(100% + 2px);
        bottom: -2px;
        left: -2px;
        z-index: -1;
        background: $pink-violet;
        transition: right .2s ease-in-out;
      }

      &:hover {
        color: $primary-light;

        .header-region__icon_arrow {
          stroke: $primary-light;
        }
      }

      &:focus {
        color: $primary-shade;

        &::after {
          right: 0;
        }

        .header-region__icon_arrow {
          stroke: $primary-shade;
        }
      }

      &:active {
        color: $primary-shade;

        .header-region__icon_arrow {
          stroke: $primary-shade;
        }

        &:focus {
          &::after {
            right: calc(100% + 2px);
          }
        }
      }

      &_active {
        color: $primary;

        &::after {
          right: calc(100% + 2px);
        }

        .header-region__icon_arrow {
          stroke: $primary;
        }

        &:focus {
          color: $primary;

          &::after {
            right: calc(100% + 2px);
          }

          .header-region__icon_arrow {
            stroke: $primary;
          }
        }
      }
    }

    &__icon_arrow {
      transform: rotate(-90deg) translateX(-5px);
    }

    &__dropdown {
      position: absolute;
      top: calc(100% + 2px);
      left: 85px;
      z-index: 8;
      display: none;
      max-height: 120px;
      width: 100px;
      border: 2px solid $grey-light;
      background: $white;
      overflow: hidden;
    }

    &-dropdown {
      &__list {
        max-height: 120px;
        padding: 11.5px 0;
/*         overflow-x: hidden; */
      }

      &-item {
        &__btn {
          position: relative;
          display: block;
          width: 100%;
          padding: 5.5px 16px;
          font-size: 14px;
          line-height: 1.3;
          color: $black;
          text-align: left;
          transition: color .2s ease-in-out;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 100%;
            bottom: 0;
            left: 0;
            z-index: -1;
            background: $pink-violet;
            transition: right .2s ease-in-out;
          }

          &:hover {
            color: $primary-light;
          }

          &:focus {
            color: $primary-shade;

            &::before {
              right: 0;
            }
          }

          &:active {
            color: $primary-shade;

            &::before {
              right: 100%;
            }
          }
        }
      }
    }
  }

  &__phone {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 14px;
    line-height: 1;
    color: $secondary;
    transition: color .2s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      top: -2px;
      right: calc(100% + 2px);
      bottom: -2px;
      left: -2px;
      z-index: -1;
      background: $bone;
      transition: right .2s ease-in-out;
    }

    &:hover {
      color: $secondary-light;

      .header-phone__icon {
        fill: $secondary-light;
      }
    }

    &:focus {
      &::after {
        right: 0;
      }
    }

    &:active {
      color: $secondary-shade;

      .header-phone__icon {
        fill: $secondary-shade;
      }

      &:focus {
        &::after {
          right: calc(100% + 2px);
        }
      }
    }
  }

  &-phone {
    &__icon {
      fill: $secondary;
      transition: fill .2s ease-in-out;
    }
  }

  &__form {
    flex-basis: 82.9%;
    max-width: 82.9%;
    display: flex;
  }

  &-form {
    &__input {
      &-container {
        position: relative;
        z-index: 0;
        flex-basis: 71.725%;
        width: 71.725%;
        height: 60px;
      }

      &_search {
        width: 100%;
        height: 100%;
        padding: 1px 75px 0 57px;
        border: 2px solid $grey-light;
        background: $grey-light;
        border-radius: 10px 0px 0px 10px;
        font-size: 16px;
        line-height: 1.2;
        color: $black;
        transition-property: background, border;
        transition-duration: .2s;
        transition-timing-function: ease-in-out;

        &::placeholder {
          font-size: 16px;
          line-height: 1.2;
          color: $grey;
        }

        &:hover {
          border: 2px solid $md-grey;
          background: $md-grey;
        }

        &:focus {
          border: 2px solid $primary;
          background: $pink-light;
        }

        &:active {
          border: 2px solid $grey-light;
          background: $grey-light;

          & ~ .header-form__icon_loop {
            fill: $primary;
          }
        }
      }
    }

    &__btn {
      &_search {
        position: absolute;
        top: 24%;
        right: 32px;
      }
    }

    &__icon {
      &_loop {
        position: absolute;
        left: 34px;
        top: 36%;
        fill: $grey;
        transition: fill .2s ease-in-out;
      }

      &_arrow {
        fill: none;
        stroke: $primary;
        transform: rotate(180deg);
      }
    }
  }

  &__user-options {
    flex-basis: 17.1%;
    max-width: 17.1%;
    display: flex;
    justify-content: end;
    gap: 43px;
    transform: translateY(2px);
  }

  &-user {
    &__link {
      position: relative;
      display: inline-block;

      &::after {
        right: calc(100% + 5px);
        left: -5px;
        content: '';
        position: absolute;
        top: -5px;
        bottom: -1px;
        z-index: -1;
        background: $primary-light;
        transition: right .2s ease-in-out;
      }

      &:hover {
        svg {
          fill: $primary-light;
        }
      }

      &:focus {
        svg {
          fill: $white;
        }

        &::after {
          right: -5px;
        }
      }

      &:active {
        svg {
          fill: $primary-shade;
        }
      }
    }
  }

  &__login {
    &::after {
      right: calc(100% + 5px);
      left: -5px;
    }
  }

  &-login {
    &__icon {
      fill: $primary;
      transition: fill .2s ease-in-out;
    }
  }

  &__cart {
    &::before {
      content: '0';
      position: absolute;
      top: 15%;
      left: -11px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 14px;
      height: 15px;
      padding: 0 0.3px 1.5px 0;
      border-radius: 50%;
      font-weight: bold;
      font-size: 10px;
      line-height: 1;
      color: $white;
      background: $secondary;
    }

    &::after {
      right: calc(100% + 15px);
      left: -15px;
    }
  }

  &-cart {
    &__icon {
      fill: $primary;
      transition: fill .2s ease-in-out;
    }
  }

  &__breadcrumb {
    margin-top: 20px;
  }

  &-breadcrumb {
    &__item {
      display: inline-block;
      margin-right: 0.6px;
      font-size: 14px;
      line-height: 1;
      color: $primary-shade;

      &:not(:first-child) {
        &::before {
          content: "\00a0/\00a0";
          padding-left: 2px;
          color: $grey;
          font-size: 15px;
        }
      }

      &:nth-child(3) {
        transform: translateX(-2px);
      }

      &:nth-child(n + 4) {
        transform: translateX(-5px);
      }
    }

    &__link {
      font-size: 14px;
      line-height: 1;
      color: $grey;
    }
  }
}

.nav {
  &_extra {
    flex-basis: 55.494%;
    max-width: 55.494%;
  }

  &-extra {
    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    &__link {
      font-size: 14px;
      line-height: 1;
      color: $grey;
    }
  }

  &_main {
    flex-basis: 74.375%;
    max-width: 74.375%;
    padding-right: 3px;
    transform: translateY(1px);
  }

  &-main {
    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      min-height: 91px;
    }

    &__link {
      font-size: 16px;
      line-height: 1.375;
      color: $black;
    }
  }
}

.choices {
  z-index: 8;
  flex-basis: 28.275%;
  width: 28.275%;

  &[data-type*=select-one] {
    &::after {
      top: 43%;
      right: 34.5px;
      z-index: 3;
      height: 8px;
      width: 8px;
      margin: 0;
      border: 1px solid $primary;
      border-left: none;
      border-top: none;
      transform: rotate(45deg);
      transition-property: transform, top;
      transition-duration: .2s;
      transition-timing-function: ease-in-out;
    }

    &.is-open::after {
      top: 49%;
      margin: 0;
      border: 1px solid $primary;
      border-left: none;
      border-top: none;
      transform: rotate(225deg);
    }
  }

  &__inner {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    height: 100%;
    border: 2px solid $grey-light;
    border-radius: 0 10px 10px 0;
    font-size: 16px;
    line-height: 1.375;
    color: $primary;
    background: $white;
    transition-property: border-color, background;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;

    .choices__list {
      padding: 4px 22px 4px 22px;
    }
  }

  &:hover {
    .choices__inner {
      border-color: $primary;
      border-radius: 0 10px 10px 0;
      background: $white;
    }
  }

  &:active {
    .choices__inner {
      border-color: $primary-shade;
      border-radius: 0 10px 10px 0;
      background: $white;
    }
  }

  &__list--dropdown {
    top: 50%;
    border: 2px solid $grey-light;
    border-radius: 0 0 10px 10px;

    .choices__list {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      column-gap: 30px;
      row-gap: 11px;
      padding: 50px 30px 22px;

      .choices__item {
        padding: 0;
        font-size: 16px;
        line-height: 1.3;
        color: $black;

        &[aria-disabled="true"] {
          display: none;
        }
      }
    }
  }

  &__placeholder {
    opacity: 1;
  }
}

.choices.is-open {
  .choices__inner {
    border: 2px solid $grey-light;
    border-radius: 0 10px 10px 0;
    background: $white;
  }

  .choices__list--dropdown {
    border: 2px solid $grey-light;
  }

  &.is-focused {
    .choices__inner {
      border: 2px solid $grey-light;
      border-radius: 0 10px 10px 0;
      background: $white;
    }
  }
}

.choices.is-focused {
  .choices__inner {
    background: $pink-light;
    border: 2px solid $primary;
    border-radius: 0 10px 10px 0;
  }
}

.simplebar-content-wrapper {
  overflow: auto;
}

.simplebar-track.simplebar-vertical {
  top: 6px;
  right: 2px;
  bottom: 10px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  left: 50%;
  background: $secondary;
  opacity: .5;
  transition: left .3s ease-in-out;
}

.header-region-dropdown__list:hover .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  left: 3px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar.simplebar-visible:before {
  left: 3px;
}

@media (max-width: 1200px) {
  $columns: 9;
  $container-padding: 36px;

  .header {
    &__container {
      &-info {
        flex-basis: calc(100% + $container-padding * 2);
        max-width: calc(100% + $container-padding * 2);
        align-items: center;
        justify-content: space-between;
        min-height: 58px;
        margin-left: -$container-padding;
        margin-right: -$container-padding;
        padding-left: $container-padding;
        padding-right: $container-padding;
        background: $white;
        transform: translateY(-1px);
      }

      &-logo {
        transform: translateY(1px);
      }
    }

    &__top {
      .header__user-options {
        display: flex;
      }
    }

    &-top {
      &__container {
        flex-wrap: wrap;
      }
    }

    &__bottom {
      .header__user-options {
        display: none;
      }
    }

    &__region {
      display: flex;
      align-items: center;
      gap: 4px;
      height: 22px;
    }

    &-region {
      &__btn {
        transform: translateY(-1px);
      }
    }

    &__form {
      flex-basis: 100%;
      max-width: 100%;
      order: 1;
    }

    &-form {
      &__input-container {
        flex-basis: 68.5%;
        width: 68.5%;
      }
    }

    &__breadcrumb {
      order: 10;
    }
  }

  .nav {
    &_extra {
      flex-basis: 77%;
      display: flex;
      align-items: center;
      max-width: 77%;
      padding: 0 23px 0 0;
      transform: translateY(-1px);
    }

    &-extra {
      &__list {
        min-height: 50px;
      }
    }

    &_main {
      order: 1;
      min-height: 92px;
      padding-left: 7px;
      transform: translate(1px, -1px);
    }
  }

  .choices {
    flex-basis: 31.5%;
    width: 31.5%;
  }
}

@media (max-width: 1023px) {
  $columns: 6;
  $container-padding: 72px;

  .burger {
    z-index: 7;
    display: block;
  }

  .header {
    &__container {
      &-info {
        flex-basis: calc(100% + $container-padding * 2);
        max-width: calc(100% + $container-padding * 2);
        margin-left: -$container-padding;
        margin-right: -$container-padding;
        padding-left: $container-padding;
        padding-right: $container-padding;
      }

      &-logo {
        display: flex;
        align-items: center;
        justify-content: end;
        order: 0;
        flex-basis: 43%;
        max-width: 43%;
        min-height: 92px;
        transform: translate(-1px, 1.5px);
      }
    }

    &__top {
      .header__user-options {
        display: none;
      }
    }

    &__bottom {
      .header__user-options {
        display: flex;
      }
    }

    &-bottom {
      &__container {
        justify-content: space-between;
      }
    }

    &-form {
      &__input-container {
        flex-basis: 69.7%;
        width: 69.7%;
      }
    }

    &__user-options {
      order: 0;
    }
  }

  .nav {
    &_extra {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0 2px 0 0;
    }

    &_main {
      position: absolute;
      top: 108px;
      right: 0;
      left: 0;
      z-index: 11;
      flex-basis: 100%;
      max-width: 100%;
      display: none;
      padding: 92px 180px 60px 72px;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      background: $white url(../img/nav-background.svg) right 72px bottom 60px no-repeat;
      opacity: 0;
      transform: translateY(50px);
      &.nav_active {
        display: block;
        opacity: 1;
        transform: none;

        .nav-main {
          &__item {
            opacity: 1;
            transform: none;
          }
        }
      }
    }

    &-main {
      &__list {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        column-gap: 64px;
        row-gap: 41px;
        justify-content: start;
      }

      &__item {
        opacity: 0;
        transform: translateY(50px);

        &1 {
          order: 0;
        }

        &2 {
          order: 2;
        }

        &3 {
          order: 4;
        }

        &4 {
          order: 1;
        }

        &5 {
          order: 3;
        }

        &6 {
          order: 5;
        }
      }
    }
  }

  .choices {
    flex-basis: 30.3%;
    width: 30.3%;
  }
}

@media (max-width: 767px) {
  $container-padding: 30px;

  .header {
    &__container {
      &-info {
        flex-basis: calc(100% + $container-padding * 2);
        max-width: calc(100% + $container-padding * 2);
        margin-left: -$container-padding;
        margin-right: -$container-padding;
        padding-left: $container-padding;
        padding-right: $container-padding;
      }
    }
  }

  .nav {
    &_main {
      padding: 80px 100px 40px 30px;
    }
  }
}

@media (max-width: 660px) {
  $container-padding: 20px;

  .header {
    &__container {
      &-info {
        flex-basis: calc(100% + $container-padding * 2);
        max-width: calc(100% + $container-padding * 2);
        margin-left: -$container-padding;
        margin-right: -$container-padding;
        padding-left: $container-padding;
        padding-right: $container-padding;
      }
    }
  }

  .nav {
    &_main {
      padding: 80px 100px 40px 20px;
    }
  }
}

@media (max-width: 580px) {
  $columns: 6;
  $container-padding: 20px;

  .header {

    &__container {
      &-logo {
        justify-content: center;
        flex-basis: 100%;
        max-width: 100%;
        min-height: 50px;
      }

      &-info {
        flex-wrap: wrap;
        gap: 18px;
        min-height: 51.2px;
      }
    }

    &__top {
      .header__container-logo {
        display: flex;
      }
    }

    &__bottom {
      .header__container-logo {
        display: none;
      }
    }

    &__form {
      display: grid;
      grid-template-columns: repeat($columns, 1fr);
      grid-auto-rows: 60px;
      row-gap: 16px;
      flex-basis: calc(100% + $container-padding * 2);
      max-width: calc(100% + $container-padding * 2);
      margin-left: -$container-padding;
      margin-right: -$container-padding;
      padding-left: $container-padding;
      padding-right: $container-padding;
      padding-top: 16px;
      border-top: 1px solid $grey-light;
    }

    &-form {
      &__input {
        &-container {
          grid-column: $columns span;
          flex-basis: 100%;
          width: 100%;
        }

        &_search {
          border-radius: 10px;
        }
      }
    }

    &__user-options {
      align-items: center;
      min-height: 48px;
    }
  }

  .nav {
    &_extra {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 6;
      display: none;
      padding: 24px 12px;
      background: $grey-light;
      opacity: 0;
      transform: translateY(50px);
    }

    &-extra {
      &__list {
        justify-content: start;
        flex-wrap: wrap;
        column-gap: 62px;
        row-gap: 12px;
      }

      &__item {
        opacity: 0;
        transform: translateY(50px);
      }
    }

    &_main {
      top: calc(100% - 201px);
      padding: 80px 100px 40px 20px;
      border: none;
    }
  }

  .choices {
    grid-column: $columns span;
    flex-basis: 100%;
    width: 100%;
  }
}

@media (max-width: 460px) {
  $container-padding: 12px;

  .header {
    &__container {
      row-gap: 0;

      &-info {
        flex-basis: calc(100% + $container-padding * 2);
        max-width: calc(100% + $container-padding * 2);
        margin-left: -$container-padding;
        margin-right: -$container-padding;
        padding-left: $container-padding;
        padding-right: $container-padding;
      }
    }

    &__form {
      flex-basis: calc(100% + $container-padding * 2);
      max-width: calc(100% + $container-padding * 2);
      margin-left: -$container-padding;
      margin-right: -$container-padding;
      padding-left: $container-padding;
      padding-right: $container-padding;
    }

    &__breadcrumb {
      display: none;
    }
  }

  .nav {
    &_main {
      padding: 62px 30px 26px 12px;
    }

    &-main {
      &__list {
        grid-template-columns: 1fr;
      }

      &__item {
        order: 0;
      }
    }
  }
}

@media (max-width: 380px) {
  $container-padding: 12px;

  .burger {
    transform: translateX(3.5px);
  }

  .header {
    &__container {
      &-info {
        row-gap: 19px;
        padding: 16px $container-padding 18px $container-padding;
      }
    }

    &__phone {
      transform: translateX(2px);
    }

    &-form {
      &__btn {
        &_search {
          top: 23.5%;
        }
      }
    }
  }

  .nav {
    &_main {
      background: $white;
    }
  }

  .choices {
    &[data-type*=select-one] {
      &::after {
        right: 35px;
      }
    }
  }
}
