.special {
  &__container {
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &__navigation {
    top: 70px;
  }

  &__icon {
    &_next {
      transform: rotate(180deg);
    }
  }

  &__swiper {
    border-radius: 10px;
  }

  &__wrapper {
    grid-template-rows: 511px;
    row-gap: 0;
  }

  &__slide {
    height: auto;

    &1, &3, &4, &6 {
      flex-basis: calc((100% - $grid-gap * 2) * 0.243421);
      width: calc((100% - $grid-gap * 2) * 0.243421);
    }

    &2, &5 {
      flex-basis: calc((100% - $grid-gap * 2) * 0.513158);
      width: calc((100% - $grid-gap * 2) * 0.513158);
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 13px;
    min-height: 511px;
    padding: 30px;

    &2 {
      background: $grey-light url(../img/special-card2-bgimg.webp) right 30px bottom 30px no-repeat;
    }

    &5 {
      background: $grey-light url(../img/special-card5-bgimg.webp) right 30px bottom 30px no-repeat;
    }
  }

  &-card {
    &__img {
      &2 {
        transform: translateX(3px);
      }
    }

    &__text {
      align-self: start;
      max-width: 225px;
    }

    &__title {
      margin-bottom: 21px;
      font-weight: normal;
      font-size: 24px;
      line-height: 1.3;
      color: $black;
    }

    &__nowrap {
      white-space: nowrap;
    }

    &__price {
      &-container {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-bottom: 22px;
        font-size: 18px;
        line-height: 1.3;
      }

      &_new {
        color: $secondary;
      }

      &_old {
        font-size: 16px;
        color: $grey;
        text-decoration-line: line-through;
        transform: translateY(1px);
      }
    }

    &__discount {
      position: absolute;
      top: 30px;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 83px;
      height: 34px;
      padding: 0 0 2px 0;
      font-weight: bold;
      font-size: 14px;
      line-height: 1.357;
      color: $white;
      background: $secondary;

      &::after {
        content: '';
        position: absolute;
        right: -10px;
        width: 0;
        height: 0;
        border-top: 17.5px solid transparent;
        border-left: 10px solid $secondary;
        border-bottom: 17.5px solid transparent;
        transform: translate(-1px, 0.5px);
      }
    }
  }
}

@media (max-width: 1200px) {
  .special {
    &__slide {
      flex-basis: calc((100% - $grid-gap * 2) * 0.33371);
      width: calc((100% - $grid-gap * 2) * 0.33371);
    }

    &__card {
      min-height: 511px;

      &2 {
        gap: 49px;
        background: $grey-light;
      }

      &5 {
        gap: 49px;
        background: $grey-light;
      }
    }

    &-card {
      &__img {
        &2 {
          transform: scale(1.08);
        }

        &5 {
          transform: scale(1.08);
        }
      }

      &__btn {
        padding: 17px 34px;
      }
    }
  }
}

@media (max-width: 1023px) {
  .special {
    &__slide {
      flex-basis: calc((100% - $grid-gap) * 0.5);
      width: calc((100% - $grid-gap) * 0.5);
    }

    &-card {
      &__btn {
        padding: 17px 34px;
      }
    }
  }
}

@media (max-width: 660px) {
  .special {
    &__card {
      padding: 70px 20px 20px;
    }
  }
}

@media (max-width: 580px) {
  .special {
    &__container {
      padding-bottom: 48px;
    }

    &__slide {
      flex-basis: 100%;
      width: 100%;
    }

    &__card {
      min-height: 470px;
    }

    &-card {
      &__text {
        max-width: unset;
      }
    }
  }
}

@media (max-width: 460px) {
  .special {
    &-card {
      &__title {
        max-width: 225px;
      }
    }
  }
}

@media (max-width: 380px) {
  .special {
    &__slide {
      min-height: 511px;
    }

    &__card {
      gap: 12px;
      min-height: 511px;
      padding: 64px 30px 30px;

      &2, &5 {
        gap: 48px;
      }
    }

    &-card {
      &__img {
        transform: translateX(-1px);
      }

      &__price {
        &-container {
          margin-bottom: 23px;
        }
      }

      &__btn {
        padding: 17px 33px;
      }
    }
  }
}
